 /* Styles for the comment section of the page. */

 /* Styles for the container wrapping up the comment section. Mainly used to set container positioning behaviour and container size. */
.comment-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 10rem 0rem auto auto;
}

/* General styles for the class name input used to manipulate both input fields in the comment section. */
input {
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

/* Styles for the display name input field. It has been made to be slightly smaller in size compared with the comment field. */
.display-name {
    width: 20rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
}

/* Styles for the comment input field. */
.comment-text {
    height: 10rem;
    width: 25rem;
    padding: 0.2rem 0.5rem;
    background-color: #f8f8f8;
}

/** 
* Preview is a container used to wrap up the elements used to preview the user's display name and comment.
* This section let's the user preview how their display name and comment will appear before it has been submited to the page. 
*/
.preview {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 50rem;
    margin-top: 5rem;
    padding: 2rem;
    text-align: start;
    border: 0.1rem solid lightgrey;
}

/* Styles for the preview of a user's display name. */
.displayname-preview {
    width: 45rem;
    font-weight: bold;
}

/* Styles for a separator added to separate the display name from the comment. I prefer this design to using border-top, even though that's an option as well. */
hr.rounded {
    border-top: 0.1rem solid;
    /* border-radius: 5px; */
    width: 100%;
}

/* Styles for the container showcasing the user comment. */
.comment-preview {
    width: 45rem;
}