/* Stylings for the main html element. It is currently used to manipulate child container positions. */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}